{% extends 'base.html.twig' %}

{% block title %}Hello ScheduleController!{% endblock %}

{% block body %}

    <div>

        <ul >
            {% for schedule in schedules %}
                <li>
                    {{ schedule.days }} : {{ schedule.hours|date('H:i') }}
                </li>
            {% else %}
                <li>Aucune catégorie trouvée.</li>
            {% endfor %}
        </ul>

        {{ form_start(form) }}

        {{ form_row(form.days) }}
        {{ form_row(form.hours) }}


        <button type="submit">
            Envoyer
        </button>
        {{ form_end(form) }}

    </div>

{% endblock %}
