{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}

    {{ form_start(form)}}
    {{ form_row(form.name)}}
    {{ form_row(form.summary)}}
    {{ form_row(form.dub)}}
    {{ form_row(form.category) }}
    <button type="submit">Nouveau</button>
    {{ form_end(form)}}

{% endblock %}
